key "DHCP_UPDATER" {
    algorithm hmac-sha256;
    secret "xmY6auXcITAXPSAEva+L4sZqBaOkeKl/r9RlsVjwRw8=";
};

key "rndc-key" {
    algorithm hmac-sha256;
    secret "xmY6duXcITAXPSAEva+L4sZqBaOkeKl/r9RlsVjwRw8=";
};
