$TTL 3h
@   IN   SOA   localhost.  admin.localhost. (
            42         ; serial
            1d         ; refresh
            12h        ; retry
            1w         ; expire
            3h )       ; minimum

    IN   NS   localhost.
1   IN   PTR  localhost.
