$TTL 3h
localhost.   IN   SOA   localhost.  admin.localhost. (
                   42         ; serial
                   1d         ; refresh
                   12h        ; retry
                   1w         ; expire
                   3h )       ; minimum

           IN   NS    localhost.
           IN   A     127.0.0.1
           IN   AAAA  ::1
