$TTL 86400        ; 1 day
$ORIGIN shq.internal.

@   IN SOA dns.shq.internal. root.shq.internal. (
        2025121157 ; serial
        3600       ; refresh (1 hour)
        1800       ; retry (30 minutes)
        604800     ; expire (1 week)
        86400      ; minimum (1 day)
)

@       IN NS  dns.shq.internal.
dns     IN A   192.168.10.53
@       IN A   192.168.10.53
