### VLAN de test 192.168.10.0/24 ###
"subnet4": [
    {
        "id": 1,
        "subnet": "192.168.10.0/24",
        "interface": "eth1",
        "pools": [
            { "pool": "192.168.10.200 - 192.168.10.250"}
        ],
        "option-data": [
            { "name": "routers", "space": "dhcp4", "csv-format": true, "data": "192.168.10.1" },
            { "name": "domain-name-servers", "space": "dhcp4", "csv-format": true, "data": "192.168.10.53" },
            { "name": "domain-name", "space": "dhcp4", "csv-format": true, "data": "shq.internal" },
            { "name": "broadcast-address", "space": "dhcp4", "csv-format": true, "data": "192.168.10.255" },
            { "name": "host-name", "space": "dhcp4", "csv-format": true, "data": "client" }
        ]
    }
],
